images
sangeranalyseR.Rproj
.DS_Store
.Rproj.user
*.Rproj.user/
.Rhistory
.RData
^.*\.Rproj$
^\.Rproj\.user$

.Rproj.user/343C2D6F/sdb/prop/INDEX
.Rproj.user/343C2D6F
.Rproj.user/343C2D6F/pcs/windowlayoutstate.pper

.Rhistory

.Rhistory

.Rhistory

*.pper

.Rhistory

.Rbuildignore

.DS_Store

*/.DS_Store

.DS_Store
